<div class="container-fluid mx-auto d-flex justify-content-center mt-5">
  <div class="row text-center w-50 h-100">
    <div class="card w-100">
      <div class="card-header bg-success">
        <h2 class="card-title text-light ">Payment Form</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label for="" size="6" class="pr-3 font-weight-bold">Payee Name</label>
            <input class="w-50" (input)="onNameChange($event.target.value)" />
          </div>
          <div class="col-md-6">
            <label for="" size="6" class="pr-3 font-weight-bold">Receiver's Name
            </label>{{name | titlecase }}
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-outline-light btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>